<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="normalize/normalize.css">
  {{{block "pageStyles"}}}
</head>
<body>
{{{body}}}

{{> scripts}}

</body>
</html>